@import '@/styles/mixins';
@import '@/styles/colors';

.card-info {
  @include dashboard-block;
  display: flex;
  align-items: stretch;

  > .line {
    background-color: rgba($text, 20%);
    width: 1px;
    padding: 0;
    margin: 0 20px;
  }

  &:hover {
    > div.card-number > .card-icon > svg {
      opacity: 1;
    }
  }

  .copy-number {
    cursor: pointer;
    height: 32px
  }

  .card-number {
    display: flex;
    align-items: center;
    width: 270px;

    > .card-icon {
      background-color: #1e1f23;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 18px;

      > svg {
        color: $primary;
        width: 30px;
        height: 30px;
        opacity: 0.6;
        transition: opacity 0.4s ease-in-out;
      }
    }
  }

  > div {
    padding: 0 20px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 10px;
    }

    span {
      display: block;

      &:first-child:not(& + div > span) {
        color: $text;
        text-transform: uppercase;
        margin-bottom: 3px;
      }

      &:last-child, & + div > span {
        font-weight: 500;
        font-size: 18px;
        color: $white;
      }
    }

    > div.cvc {
      > div {
        display: flex;
        align-items: center;

        > button {
          background-color: transparent;
          color: $white;
          margin-left: 3px;
          padding-top: 4px;

          &:hover {
            cursor: pointer;

            > svg path {
              stroke: #917cff;
            }
          }

          > svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
